<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
</head>

<body>
   
    <div id="container-body">

    </div>
    <div id="myTable">

</div>
    <input type="button" value="logout" id="logout-form">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>
        let userData;
        $(document).ready(function () {
            $.ajax({
                url: "http://127.0.0.1:8000/notes",
                headers: {
                    'Authorization': `Bearer ${window.localStorage.getItem('refresh_token')}`
                },
                type: "GET",
                tokenFlag: true,
                dataType: 'json',
                enctype: 'multipart/form-data',
                contentType: 'application/json',

                success: function (data) {
                  //  console.log(data)
                   

                           for (var i=0; i<data.length; i++) {
                                   console.log(data[i].image) 
                                    var row = $('<h1>' + data[i].title+ '</h1>' + data[i].body + '</h2>'+data[i].file+'</h2>'+'<img src ="' +
                                    data[i].image + '"></img>');
                                    $('#myTable').append(row);
                                }
                    $('#container-body').html(data);
                    //$('#id').text(data[0].title)
                },
                error: handleAjaxError
            });
        });

        function handleAjaxError(rs, e) {
            if (rs.status == 401) {
                if (this.tokenFlag) {
                    this.tokenFlag = false;
                    if (obtainAccessTokenWithRefreshToken()) {
                        this.headers["Authorization"] = `Bearer ${window.localStorage.getItem('refresh_token')}`
                        $.ajax(this);
                    }
                }
            } else {
                console.error(rs.responseText);
            }
        }
         $("#logout-form").click(function (event) {
            event.preventDefault();
            window.localStorage.removeItem('refresh_token');
            window.localStorage.removeItem('access_token');
            window.location.href = "/login";
        });

       
       // this is to redirect data

        {% comment %} $.ajax({
                url: "http://127.0.0.1:8000/details",
                headers: {
                    'Authorization': `Bearer ${window.localStorage.getItem('refresh_token')}`
                },
                type: "get",
                dataType: 'json',
                contentType: "application/json",
                contentType: false,

                data: JSON.stringify({
                    'title': title,
                    'body': body,
                    'file':file
                }),
                success: function (data) {
                window.location.href = "http://127.0.0.1:8000/home";
                },

                error: function (e) {
                    console.log(e);
                },
            }); {% endcomment %}

    </script>

</body>

</html>